# eclipse project files
.classpath
.project
.settings/

#idea project files
.idea/
*.iml

# Build directories
target/
build/


# Misc
WebContent/lib/*
WebContent/node_modules/
!WebContent/lib/vendor.css
!WebContent/lib/vendor.min.js

.vagrant/
/bin/


