<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="font-family: Arial, sans-serif, 'Helvetica Neue', Helvetica; background-color: #eeeeee">
<div align="center" style="padding: 20px">
    <table width="600" border="0" bgcolor="#fff">
        <tbody>
        <!--logo-->
        <tr>
            <td style="background-color: #666666; color: white">
                <img src="logo-sungard.svg" alt="logo" style="width: 30px; height: 30px; margin: 9px 0 -9px 9px;">
                <p style="display: inline-table; margin: 10px 0">Sungard Availability Services <span style="border-left: 1px solid #cc2130;">&nbsp;</span> Enhanced Snapshots</p>
            </td>
        </tr>

        <!--body-->
        <tr>
            <td style="padding: 9px">
                <p>Dear <i>{customer}</i>,</p>
                <p> This letter is sent as an automatic notification about <strong>failed</strong> task.
                    Ut enim ad minim veniam, quis nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </td>
        </tr>

        <!--footer-->
        <tr>
            <td style="padding: 9px; text-align: right">
                <p><i>Sungard Availability Services</i></p>
            </td>
        </tr>


        <tr>
            <td style="padding: 9px; text-align: right">
                <!--<div>
                    <a href="http://www.linkedin.com/companies/1873?goback=.nmp_%2a1_%2a1&trk=NUS_CO-logo"><img src="">L</a>
                    <a href="http://www.facebook.com/SunGardAS"><img src="">F</a>
                    <a href="http://twitter.com/SunGardAS"><img src="">T</a>
                    <a href="http://www.youtube.com/user/SunGardAS"><img src="">Y</a>
                    <a href="https://plus.google.com/102459878242108588663"><img src="">G</a>
                </div>-->
                <img src="sas.png">
            </td>
        </tr>

        <!--copyright-->
        <tr>
            <td style="padding: 9px; text-align: center">
                <small>© 2016 Sungard Availability Services, all rights reserved</small>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>