<div class="modal-header bg-danger">
    <h3 class="modal-title"><span class="glyphicon glyphicon-cog"></span>&nbsp; System Uninstall</h3>
</div>

<div class="modal-body">

    <div ng-show="state === 'ask'">
        <h3>You are going to terminate this instance and release all the resources.</h3>
        <div class="form-inline">
            <p class="form-control-static">Would you like to remove S3 Bucket?</p>
            <select class="form-control" ng-options="opt.name for opt in deletionOptions" ng-model="removeS3Bucket">
                <option></option>
            </select>
        </div>
        <div ng-show="removeS3Bucket.value === true" class="text-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <strong>
                Warning! If you delete S3 bucket you will lose all backups data
            </strong>
        </div>
        <hr/>
        <h3>Please enter your system ID:</h3>
        <input type="text" ng-model="systemId"/>
    </div>

    <div ng-show="state === 'done'">
        <h3>Your System uninstalled successfully!</h3>
    </div>

    <div ng-show="state === 'failed'">
        <h3> {{delError.status === 403 ? delError.data.msg : "Sorry, system is not responding. Please, try again later."}}</h3>
    </div>

    <div class="text-right">
        <button class="btn btn-success" ng-show="state === 'ask'" ng-click="delete()" ng-disabled="removeS3Bucket == undefined">Uninstall</button>
        <button class="btn btn-default" ng-hide="state === 'ask'" ng-click="$close()"><span
                class="glyphicon glyphicon-ok"></span>&nbsp; Done
        </button>
        <button class="btn btn-default" ng-show="state === 'ask'" ng-click="$dismiss()">Close</button>
    </div>
</div>
